/* Global styles */
*{
    margin: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box; 
}
body {
    background-color: hsl(212, 45%, 89%); /* Light blue background */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* ========
Typography 
========= */
h1 {
    color: hsl(218, 44%, 22%); 
    font-size: 20px;
    font-weight: 700;
    margin: 10px 10px 10px 10px;
    max-width: 280px;
}

.qr-container p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    margin: 5px 20px 25px 20px;
}

.attribution p{
    font-size: 11px;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ========
Layout 
========= */
.qr-container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 300px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    object-fit: contain;
    border-radius: 10px;
    min-width: 100%;
}


